.container {
    flex-direction: column;
}

body {
    background-image: url("../assets/pokemon-bg.jpg");
    background-color: #cccccc;
   }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%px;
    
    
  

}


.flex-container > div {
 background-color: #f1f1f1;
 width: 300px;
 margin: 0 auto;
 text-align: center;
 line-height: 45px;
 font-size: 30px;
 border: 200px;
 border-radius: 40px;
 margin-top: 250px;
 margin-bottom: 250px;
 


}

p{
    font-size: small;
}

img{
    margin: 25px;
    height: 75px;
    border-radius: 360px;
}